*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}
#nav{
   display: flex;
   justify-content:space-between;
   box-shadow: 1px 2px 3px #ccc;
   background-color: rgba(249, 251, 252, 0.842);
   position: sticky;
   background-color: #ccc;
}
#logo a img{
    width:100px;
    height:100px;
} 
.nav_bar form {
    display: flex;
    margin:40px;
}
.nav_bar form input[type=text]
{
    width: 30em;
    padding: 10px 20px;
    border-top-right-radius:30px;
    border-bottom-right-radius: 30px;
    border: none;
    font-size: 15px;  
}
.nav_bar form button{
    background-color: white;
    padding-left: 13px;
    font-size: 15px;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.section{
    display: flex;
    justify-content: space-between;

}
#about div{
    padding: 280px 4px;
}
#about div h1{
  padding: 2px 30px;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  
}
#about div p{
  padding: 5px 25px;
  font-family: 'Poppins', sans-serif;
  
}
#about div .btn1{
   margin:10px 28px;
   background-color: black;
   color: white;
   font-family: 'Poppins', sans-serif;
   padding: 10px 15px;
   font-size:16px;
   border: none;
   border-radius:5px;
}
#about div .btn2{
    margin: 10px;
    background-color: inherit;
    border:1px solid #ccc;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}
#img_details
{
    width:85vw;
    display: flex; 
    flex-wrap: wrap;
}
.items{
 
    width:40vw;
    margin: auto;
    border-radius: 20px;    
}
#business{
    background-color: yellow;
    width: 25vw;
    height:40vh; 
    margin-top:11em;   
    background: url('../img/about/img_1.jpg') no-repeat center center/cover;
}
#nature{
    background-color: red;
    width:25vw;
    height:40vh;
    margin-top: 9em;
    background: url('../img/about/img_2.jpg') no-repeat center center/cover;
    opacity: 0.6;
}

#architecture{
    background-color: rgb(1, 1, 31);
    width:25vw;
    height:40vh;
    background: url('../img/about/img_3.jpg') no-repeat center center/cover;
    opacity: 0.6;
    
}

#textures{
    background-color: rgba(2, 49, 2, 0.952);
    width: 25vw;
    height:40vh;
    margin-top: 0%;
    margin-bottom:4em;
    background: url('../img/about/img_4.jpg') no-repeat center center/cover;
    
}
.items h3{
   text-align: center;
   margin-top: 6em;
   font-family: 'Poppins', sans-serif;
   
}
.content{
    text-align: center;
    font-family: 'Poppins', sans-serif; 
}
.content h1{  
    margin: 20px 357px;
    font-size: 25px;
}

#image_box{
 display: flex;
}
#image_box div{
    width:35vw;
}
#image_box div h4{
    text-align: left;
    margin-left: 10px;
}
#image_box div p{
    font-size:13px;
    margin-top:1em;
    text-align: left;
    margin-left: 10px;
}
#image_box div img{
    width:32vw;
    height:40vh;
} 

/* Responsive page */
@media screen and (max-width:1316px){
#about div
{
   width:44vw;
}
#about h1{
 font-size: 11px;

}
#about p{
 font-size: 13px;
}
#about div .btn1{
    font-size: 10px;
    width:20vw;
}
#about div .btn2{
    width: 20vw;
    font-size: 10px;
    margin-left:26px;
}
#img_details{
    width: 90vw;
}
.items{
    width: 20vw;
}
#business{
    margin-left: 20px;
    margin-top: 13em;
}
#nature{
   margin-top: 11em;
}
#architecture{
  margin-left:20px;
}
.content h1{
    font-size:22px;
    margin: 20px 167px;
}
    
} 
@media screen and (max-width:912px)and(min-width:768px){

#about h1{
 font-size:1rem;
}
#business{
    height:30vh;
}
#nature{
   height:30vh;
}
#architecture{
  height: 30vh;
}
#textures{
    height: 30vh;
}
.items h3{
    margin-top: 10em;
}
.content h1{
    font-size:26px;
    margin: 20px 167px;
}
#image_box{
    flex-direction: column;
    
}
#image_box div{
    width:90vw;
    margin: auto;
    margin-top:5em;
}
#image_box div img{
    width:89vw;
    height: 44vh;
}
#image_box div h4{
    font-size: 27px;
}
#image_box div p{
    font-size: 20px;
}
}
@media screen and (max-width:800px){
    .nav_bar form input[type=text]{
        width:23em;
    }
    .section{
        flex-direction: column;
    }
    #about div{
        width: auto;
        padding: 36px 4px;
    }
    #about div h1{
        padding: 2px 24px;
    }
    #about div .btn1{
        width:28vw;
        margin: 10px 22px;
    }
    #about div .btn2{
        width:28vw;
        margin-left: 0px;
    }
    #img_details{
        width:80vw;
        margin: auto;
        border: #ccc;
        transition: 0.4ms;
    }
    #business{
        margin-top: 7em;
        margin-left: 10px;
        width:37vw;
        height: 47vh;
    }
    #nature{
        margin-top:5em;
        width:34vw;
        height: 47vh;
    }
    #architecture{
        height: 47vh;
        width:37vw;
        margin-left:10px;
      
    }
    #textures{
        width:34vw;
        height:47vh;
    }
    .content h1{
        margin: 20px 27px;
    }
    #image_box div {
        margin: auto;
        width: 100%;
        margin-top:44px;
    }
}
@media screen and (max-width:600px){
    #nav{
        flex-direction: column; }
    #logo{
        display: flex;
        justify-content: center;
    }
    #logo a img{
        width:10em;
        height: 10em;
    }
    .nav_bar form{
        display: flex;
        justify-content: center;
    }
    .nav_bar form input[type=text]{
        width:30em;
}
    #about div .btn2{
        width:31vw;
    }
    #about p{
        font-size:12px;
        padding:5px 25px;
    }
    .items{
        height: 36vh;
    }
    #image_box{
        flex-direction: column;
    }
    #image_box div {
       margin: auto;
       width: 100%;
       margin-top:44px;
   }
   #image_box div img{
    width:91vw;
}
.content h1{
    margin: 20px 27px;
}
}
@media screen and (max-width:280px){
    #about div h1{
        font-size:1rem;
    }
    #about p{
        font-size:10px;
    }
    #about div{
        margin: 4px;
    }
    #about div .btn1{
        margin:0px 20px;
        width:46vw;
        font-size: 10px;
    }
    #about div .btn2{
        width:46vw;
        margin-left:20px;
    }
    #business{
       height:44vh;
       font-size:11px;
    }
    #nature{
       height:44vh;
       margin-top: 6em;
       font-size:11px;
    }
    #architecture{
        height: 44vh;
        margin-top:18px;
        font-size: 11px;
    }
    #textures{
        height:43vh;
        font-size: 11px;
   }
   .content h1{
       font-size: 14px;
       margin:16px 6px;
   }
   #image_box{
       flex-direction: column;
   }
   #image_box div {
       margin: auto;
       width: 100%;
       margin-top:44px;
   }
   #image_box div img{
       width:91vw;
   }
   #image_box div p{
       font-size: 12px;
   }
}